@model IEnumerable<SkillSwap_Platform.Models.ViewModels.NotificationVM.NotificationTrackVm>
@using Humanizer

<div class="dropdown-menu">
    <div class="dboard_notific_dd px30 pt10 pb15">
        @if (!Model.Any())
        {
            <p class="text-muted">No notifications</p>
        }
        else
        {
            foreach (var n in Model)
            {
                <div class="notif_list d-flex align-items-center pb15 mb10">
                    <img src="@Url.Content(n.IconUrl)" alt="action">
                    <div class="details ml10">
                        <p class="text mb-0">@n.Title</p>
                        <p class="text mb-0">@n.Message</p>
                        <p class="small text-thm">@n.CreatedAt.ToLocalTime().Humanize(false, DateTime.UtcNow)</p>
                    </div>
                </div>
            }
            <hr style="background-color:grey; height: 1px;" />
            <div class="text-center mb10 d-grid">
                <a class="w-100" href="@Url.Action("Index", "TrackNotifications")">
                    View All Messages <i class="fal fa-arrow-right-long" style="transform: rotate(-45deg)"></i>
                </a>
            </div>
        }
    </div>
</div>
