@model SkillSwap_Platform.Models.ViewModels.ExchangeVM.OfferRestoreListVM

@{
    ViewData["Title"] = "Restore Swap";
    ViewData["SubTitle"] = "Need a second chance? You can bring back your swap within 15 days.";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="col-lg-9">
    <div class="dashboard_title_area">
        <h2>@ViewData["Title"]</h2>
        <p class="text">@ViewData["SubTitle"]</p>
    </div>
</div>
<div class="col-lg-3">
    <a href="@Url.Action("OfferList", "UserOfferManage")" class="ud-btn btn-dark default-box-shadow2">
        Back to Swaps <i class="fal fa-arrow-right-long"></i>
    </a>
</div>
</div>
<div class="alert alert-warning">
    <strong>Warning:</strong> The swaps below have been deleted. You can restore any swap within 15 days of deletion.
</div>
@if (TempData["SuccessMessage"] != null)
{
    <div class="col-lg-12">
        <div class="ui-content">
            <div class="message-alart-style1">
                <div class="alert alart_style_four alert-dismissible fade show mb20" role="alert">
                    @TempData["SuccessMessage"]
                    <i class="far fa-xmark btn-close" data-bs-dismiss="alert" aria-label="Close"></i>
                </div>
            </div>
        </div>
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="col-lg-12">
        <div class="ui-content">
            <div class="message-alart-style1">
                <div class="alert alart_style_three alert-dismissible fade show mb20" role="alert">
                    @ViewBag.ErrorMessage
                    <i class="far fa-xmark btn-close" data-bs-dismiss="alert" aria-label="Close"></i>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
            <div class="navtab-style1">
                <nav>
                    <div class="nav nav-tabs mb30" id="nav-tab2" role="tablist">
                        <button class="nav-link active fw500 ps-0" id="nav-item1-tab" data-bs-toggle="tab" data-bs-target="#nav-item1" type="button" role="tab" aria-controls="nav-item1" aria-selected="true">Active Services</button>
                        <button class="nav-link fw500" id="nav-item2-tab" data-bs-toggle="tab" data-bs-target="#nav-item2" type="button" role="tab" aria-controls="nav-item2" aria-selected="false">Pending Services</button>
                        <button class="nav-link fw500" id="nav-item3-tab" data-bs-toggle="tab" data-bs-target="#nav-item3" type="button" role="tab" aria-controls="nav-item3" aria-selected="false">Ongoing Services</button>
                        <button class="nav-link fw500" id="nav-item4-tab" data-bs-toggle="tab" data-bs-target="#nav-item4" type="button" role="tab" aria-controls="nav-item4" aria-selected="false">Completed Services</button>
                        <button class="nav-link fw500" id="nav-item5-tab" data-bs-toggle="tab" data-bs-target="#nav-item5" type="button" role="tab" aria-controls="nav-item5" aria-selected="false">Canceled Services</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-item1" role="tabpanel" aria-labelledby="nav-item1-tab">
                        <div class="packages_table table-responsive">
                            <table class="table-style3 table at-savesearch">
                                <thead class="t-head">
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Deleted Date</th>
                                        <th scope="col">Days Left</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="t-body">
                                    @foreach (var offer in Model.DeletedOffers)
                                    {
                                        // Calculate how many days have passed since deletion and how many remain.
                                        int daysSinceDelete = (DateTime.UtcNow - offer.DeletedDate.Value).Days;
                                        int daysLeft = 15 - daysSinceDelete;
                                        <tr>
                                            <th class="dashboard-img-service" scope="row">
                                                <div class="listing-style1 list-style d-block d-xl-flex align-items-start border-0 mb-0">
                                                    <div class="list-thumb flex-shrink-0 bdrs4 mb10-lg">
                                                        @if (!string.IsNullOrEmpty(offer.ThumbnailUrl))
                                                        {
                                                            <img src="@offer.ThumbnailUrl" class="img-fluid rounded-start" alt="Swap Thumbnail">
                                                        }
                                                        else
                                                        {
                                                            // If no thumbnail is available, use a default image based on the offer ID.
                                                            var defaultImages = new List<string>
                                                            {
                                                    Url.Content("~/template_assets/images/listings/No_Offer_img_1.jpg"),
                                                    Url.Content("~/template_assets/images/listings/No_Offer_img_2.jpg")
                                                            };
                                                            int index = offer.OfferId % defaultImages.Count;
                                                            var selectedImage = defaultImages[index];
                                                            <img src="@selectedImage" class="img-fluid rounded-start" alt="Default Swap Image">
                                                        }
                                                    </div>
                                                    <div class="list-content flex-grow-1 py-0 pl15 pl0-lg">
                                                        <h6 class="list-title mb-0"><a href="@Url.Action("OfferDetails", "UserOfferDetails", new { offerId = offer.OfferId })">@offer.Title</a></h6>
                                                        <ul class="list-style-type-bullet ps-3 dashboard-style mb-0">
                                                            <li>Time Commitment:  @offer.TimeCommitmentDays days </li>
                                                            <li>Availability Set: @offer.FreelanceType</li>
                                                            <li>Created Date: @offer.CreatedDate?.ToString("MMMM dd,yyyy")</li>
                                                            <li>Deleted On: @offer.DeletedDate?.ToString("MMMM dd,yyyy")</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="align-top"><span class="fz15 fw400">@offer.Category</span></td>
                                            <td class="align-top"><span class="fz15 fw400">@offer.DeletedDate?.ToString("MMMM dd, yyyy")</span></td>
                                            <td class="align-top"><span class="fz14 fw400">@(daysLeft > 0 ? daysLeft.ToString() : "Expired")</span></td>
                                            <td class="align-top">
                                                <div class="d-flex">
                                                    <a href="@Url.Action("Restore", "UserOfferManage", new { offerId = offer.OfferId })" class="icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="flaticon-flaticon-pencil"></span></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @if (Model.TotalPages > 1)
                            {
                                <div class="mbp_pagination text-center mt30">
                                    <ul class="page_navigation">
                                        @if (Model.CurrentPage > 1)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="@Url.Action("OfferRestoreList", "UserOfferManage", new { page = Model.CurrentPage - 1 })">
                                                    <span class="fas fa-angle-left"></span>
                                                </a>
                                            </li>
                                        }
                                        @{
                                            int groupSize = 5;
                                            int currentGroup = (Model.CurrentPage - 1) / groupSize;
                                            int startPage = currentGroup * groupSize + 1;
                                            int endPage = Math.Min(startPage + groupSize - 1, Model.TotalPages);
                                        }
                                        @for (int i = startPage; i <= endPage; i++)
                                        {
                                            if (i == Model.CurrentPage)
                                            {
                                                <li class="page-item active" aria-current="page">
                                                    <a class="page-link" href="#">@i <span class="sr-only">(current)</span></a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="@Url.Action("OfferRestoreList", "UserOfferManage", new { page = i })">@i</a>
                                                </li>
                                            }
                                        }
                                        @if (Model.CurrentPage < Model.TotalPages)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="@Url.Action("OfferRestoreList", "UserOfferManage", new { page = Model.CurrentPage + 1 })">
                                                    <span class="fas fa-angle-right"></span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <p class="mt10 mb-0 pagination_page_count text-center">
                                        Showing page @Model.CurrentPage of @Model.TotalPages offers
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

